*{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

strong{
    font-weight: 700;
}

.overlay{
    width: 375px;
    height: 100%;
    background-color: rgba(59, 58, 58, 0.5);
    position: fixed;
    z-index: 1;
}

.webpage{
    width: 375px;
    height: auto;
    position: absolute;
    z-index: 0;
    background-color: #f3f3f3;
}

.sidemenu{
    width: 259px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0%;
    background-color: white;
}

.checkmark{
    color: green;
    font-weight: 700;
}

.chooseContacts{
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts{
    padding: 15px;
    height: 50%;
    overflow: scroll;
}

.contacts li{
    height: 36px;
    display: flex;
    align-items: center;
}

.contacts .icon{
    font-size: 23px;
}

.contacts li p{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visibilityText{
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chooseVisibility{
    padding: 0 15px;
}

.chooseVisibility li{
    height: 36px;
    display: flex;
    align-items: center;
}

.chooseVisibility .icon{
    font-size: 23px;
}

.chooseVisibility li p{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
}

.visibilityOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blankArea{
    width: 116px;
    height: 100%;
    position: fixed;
    left: 0;
}

.header{
    width: 375px;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 2px #dbdada;
}

.header .icon{
    font-size: 42px;
}

.chat{
    margin: 100px 0;
}

.chat > p{
    font-size: 14px;
    line-height: 80%;
}

.chat li{
    padding-left: 10px;
}

.status{
    background-color: #dcdcdc;
    width: 375px;
    padding: 17px 0;
    margin: 2px 0;
}

.open{
    background-color: white;
    width: 375px;
    padding: 17px 0;
    margin: 2px 0;

}

.private{
    background-color: #ffdede;
    width: 375px;
    padding: 17px 0;
    margin: 2px 0;
}

.footer{
    width: 375px;
    height: 80px;
    background-color: white;
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 2px #dbdada;
}

.textBox{
    margin: 25px;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: 400;
}

.button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.footer .icon{
    font-size: 26px;
    margin-right: 17px;
}

.hidden{
    display: none;
}



